<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a Pic!</title>
    <link rel="stylesheet" href="/static/simple.min.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<header>
    <h1>Post a pic!</h1>
    <p>Uh Oh! Something went wrong.</p>
    <nav>
        <a href="/">Browse pics</a>
        <a href="/postapic">Post a pic!</a>
    </nav>
</header>
<main>
    <p>{{.Message}}</p>
    <figure>
        <img src="https://http.cat/{{.Code}}" alt="Photo of a cat, related to http status code">
        <figcaption>
            We are sorry about what happened. Maybe you should be too. <br/> But cats are cute, this fact won't change.
        </figcaption>
    </figure>
</main>
</body>
</html>