<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a Pic!</title>
    <link rel="stylesheet" href="/static/simple.min.css">
    <link rel="stylesheet" href="/static/style.css?v2">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<header>
    <h1>Post a pic!</h1>
    <p>Here you are, all the pics</p>
    <nav>
        <a href="/">Browse pics</a>
        <a href="/postapic" class="current">Post a pic!</a>
    </nav>
</header>
<main>
    <form action="/postapic" method="post" enctype="multipart/form-data">
        <p>
            <select name="user_id" required="required">
                <option selected>Select user</option>
                {{range .Users}}
                    <option value="{{.UserId}}">{{.UserName}}</option>
                {{end}}
            </select>
        </p>
        <p><input type="password" name="password" placeholder="Enter password" required="required"></p>
        <p><input type="text" name="title" placeholder="Write title..." required="required"></p>
        <p><input type="file" name="picture" required="required"></p>
        <button type="submit">Submit</button>
    </form>
</main>
</body>
</html>