@page "/login"
@model Postapic.Pages.Login

@{
    Layout = "Shared/_Layout";
}



<section class="card post-form">
    @if (!string.IsNullOrEmpty(Model.UiMessage))
    {
        <h1 class="warning">@Model.UiMessage</h1>
    }
    else
    {
        <h1>Log in to your account</h1>
    }
    <form method="POST">
        <div class="input-group">
            <label asp-for="LoginModel.Username">Username</label>
            <input type="text" asp-for="LoginModel.Username" required>
        </div>
        <div class="input-group">
            <label asp-for="LoginModel.Password">Password</label>
            <input type="password" asp-for="LoginModel.Password" required>
        </div>
        <button type="submit" class="submit-btn">Login</button>
    </form>
</section>
