@page "/logout"
@model Postapic.Pages.Logout

@{
    Layout = "Shared/_Layout";
}

<section class="card post-form">
    <h1>Are you sure?</h1>
    <form method="POST">
        <button type="submit" class="submit-btn">Yes, log me out</button>
    <a href="/" style="margin-left: 1em;">Nope, take me back</a>
    </form>
</section>
