@page "/post"
@model Postapic.Pages.PostPage

@{
    Layout = "Shared/_Layout";
}

<section class="card post-form">
    @if (ViewData["error-msg"] is not null)
    {
        <h2 class="warning">@ViewData["error-msg"]</h2>
    }
    else
    {
        <h1>Publish your post</h1>
    }
    <form id="add-media-form" class="hidden" asp-page="/PostPage" asp-page-handler="AddMediaToDraft" method="post" enctype="multipart/form-data">
        <input id="add-media-input" type="file" name="files" accept="image/*" multiple />
        <input type="hidden" asp-for="SubmitPostDto.DraftId" value="@Model.DraftPost.Id" />
    </form>
    
    <form method="post" asp-page-handler="Publish" autocomplete="off">
        <div class="input-group">
            <label asp-for="SubmitPostDto.Title">Title</label>
            <input type="text" asp-for="SubmitPostDto.Title" required placeholder="Explain the post.." autofocus="autofocus" autocomplete="no">
            <p class="input-tip">You can delete within a minute after publishing</p>
        </div>
        <div class="input-group">
            <div class="media carousel">
                @foreach (var m in Model.DraftPost.Medias)
                {
                    <img src="@m.Key" alt="Media for a draft post">
                }
                
                <div class="add-media">
                    <button type="button" id="add-media-btn">+ New Media</button>
                </div>
            </div>
            <div class="carousel-indicators">
                <span class="active"></span>
                @for (var i = 0; i < Model.DraftPost.Medias.Count - 1; i++)
                {
                    <span></span>
                }
                
                @* For new image button *@
                <span></span>
            </div>
        </div>
        
        <details style="margin-bottom: 1rem">
            <summary>Advanced</summary>
            <div class="input-group">
                <input type="text" asp-for="SubmitPostDto.Permalink" placeholder="Enter a permalink">
            </div>
        </details>

        <input type="hidden" asp-for="SubmitPostDto.DraftId" value="@Model.DraftPost.Id">
        <button type="submit" class="submit-btn">Publish</button>
    </form>
</section>

@section Scripts
{
    <script>
    !(function () {
        const postBtn = document.querySelector("#add-media-btn");
        const uploadForm = document.querySelector("#add-media-form");
        const fileInput = uploadForm.querySelector('#add-media-input');
        postBtn.addEventListener("click", (el) => {
            fileInput.click();
        });
        fileInput.addEventListener("change", () => {
            if (fileInput.files.length > 0) {
                uploadForm.submit();
            }
        });
    })();
    </script>
}
